body {
  background-color: #fff;
}

html,
body,
.container {
  height: 100%;
  display: flex;
  justify-content: center;
}

.loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-thumnail {
  position: relative;
  width: 100%;
}

.movie-thumnail .movie-poster-wrap {
  height: 33vh;
  overflow: hidden;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.movie-thumnail img {
  display: block;
  width: 100%;
  object-fit: cover;
  transform: translateY(-8%);
}

.movie-rate-wrap {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  width: 95%;
  height: 110px;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
}

.rate-score .ic-star,
.rate-participate .ic-star {
  font-size: 32px;
}

.rate-participate .ic-star {
  color: #fff;
}

.rate-score .rate-score-value {
  font-size: 16px;
}

.rate-score .rate-score-value span {
  font-size: 13px;
}
