body {
  background-color: #fff;
}

html,
body,
.container {
  height: 100%;
  display: flex;
  justify-content: center;
}

.loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie {
  margin-bottom: 50px;
}

.movie-thumnail {
  position: relative;
  width: 100%;
  margin-bottom: 40px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 0px 5px 50px rgba(18, 21, 61, 0.2);
}

.movie-thumnail .movie-poster-wrap {
  height: 33vh;
  overflow: hidden;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.movie-thumnail img {
  display: block;
  width: 100%;
  object-fit: cover;
  transform: translateY(-8%);
}

.movie-rate-wrap {
  position: absolute;
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  right: 10px;
  bottom: 57px;
  transform: translateY(50%);
  background-color: #fff;
  border-radius: 45px;
}

.rate-score,
.rate-participate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rate-score .ic-star,
.rate-participate .ic-star {
  font-size: 32px;
}

.rate-participate .ic-star {
  color: #fff;
}

.rate-score .rate-score-value {
  font-size: 16px;
}

.rate-score .rate-score-value span {
  font-size: 13px;
}

.movie-head {
  width: 100%;
  padding: 0 20px;
  margin-bottom: 30px;
}

.movie-head .movie-title {
  font-size: 20px;
  line-height: 1.18;
  letter-spacing: -0.005em;
  margin-bottom: 12px;
  color: #12153d;
}

.movie-basic-info {
  display: flex;
  margin-bottom: 12px;
}

.movie-basic-info li {
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: -0.005em;
  color: #9a9bb2;
  margin-right: 24px;
}

.movie-basic-info li:last-child {
  margin-right: 0;
}

.genre-list {
  display: flex;
  align-items: center;
  height: 36px;
}

.genre-list .genre-item {
  flex-shrink: 0;
  font-size: 14px;
  font-weight: 700;
  color: #434670;
  padding: 5px 15px;
  margin-right: 10px;
  border: 1px solid #dbdce3;
  border-radius: 100px;
}

.genre-list .genre-item:last-child {
  margin-right: 0;
}

.movie-desc-wrap {
  padding: 0 20px;
}

.movie-desc-wrap .movie-desc-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.18;
  letter-spacing: -0.005em;
  color: #12153d;
  margin-bottom: 14px;
}

.movie-desc-wrap .movie-summary {
  font-size: 16px;
  line-height: 1.5;
  color: #737599;
}
